<img class=tileImage src="{{restaurant.image}}">
<h1>{{restaurant.name}}</h1>
<span class="bubble">{{restaurant.cuisine}}</span><br>
<h3>{{restaurant.street}}, {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</h3>
