<div class="restaurantDetailTile">

  <img class=detailImage src="{{restaurant.image}}">
  <h1>{{restaurant.name}}</h1>
  <span class="bubble">{{restaurant.cuisine}}</span><br>
  <h3>{{restaurant.street}}, {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</h3>

  <button class="btn btn-info" {{action 'addToFavorites' restaurant}}>Add to Favorites</button>
  <button class="btn btn-danger" {{action 'destroyRestaurant' restaurant}}>Delete Restaurant</button>
  {{update-restaurant restaurant=restaurant updateRestaurant="updateRestaurant"}}
</div>

<div style="padding:15px">
  <h2>Average User Rating: {{ratingStatus}}</h2>
  <h2>Comments</h2>

  {{#each restaurant.reviews as |review|}}
    <div style="background:#d0f1ff;width:95%;padding:5px;margin-top:10px;border-left:1px #999 solid;">
    <p style="padding-left:15px">"{{review.body}}" <br><span style="padding-left:30px">By <strong>{{review.author}}</strong> on <strong>{{date-format review.date}}</strong></span></p>
    Rated: <span style="font-weight:800">{{review.rating}}</span> out of 5<br>
    </div>
  {{/each}}
    <br>
    {{new-review restaurant=restaurant saveReview="saveReview"}}
</div>
